/*
0 - 600px       -phone
600-900px       Tablet portrait
900-1200px      Tablet landscape
{1200 - 1800}   is where our normal styles apply
1800px * :      Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px;
*/
@keyframes floating {
  0% {
    transform: translate(0px, 0px);
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15); }
  50% {
    transform: translate(0px, -15px);
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  100% {
    transform: translate(0px, 0px);
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); } }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  80% {
    opacity: .8;
    transform: translateY(-20%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 63.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 85%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #6482e1;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.header-primary {
  color: #fff;
  text-transform: uppercase; }
  .header-primary--main {
    display: block;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 15px;
    word-spacing: 5px; }
    @media only screen and (max-width: 112.5em) {
      .header-primary--main {
        font-size: 10rem; } }
    @media only screen and (min-width: 112.5em) {
      .header-primary--main {
        font-size: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .header-primary--main {
        font-size: 7.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-primary--main {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 25em) {
      .header-primary--main {
        font-size: 3rem; } }
    .header-primary--main .strike-symbol {
      vertical-align: middle;
      padding: 0 1rem 0 0; }
  .header-primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 700; }

.heading-secondary--1 {
  color: #fff;
  font-size: 5rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 2rem;
  border-bottom: 0.5px solid #fff; }

.heading-secondary--2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #777; }

.heading-tertiary {
  font-size: 6rem;
  display: inline-block;
  font-weight: 400;
  color: #324994; }
  @supports (-webkit-background-clip: text) {
    .heading-tertiary {
      background-image: linear-gradient(to right, #2dc3d4, #6482e1);
      -webkit-background-clip: text;
      -ms-background-clip: text;
      color: transparent; } }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.small-text {
  display: block;
  font-size: 20px;
  color: #14161b;
  margin-bottom: -20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px; }

i {
  background-image: linear-gradient(to right, #2dc3d4, #6482e1);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 15px; }

.popup-heading {
  font-size: 3rem;
  color: #8AA5FF; }

.u-text-centered {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-text-white {
  color: #fff; }

.u-text-black {
  color: #000; }

.u-weight-700 {
  font-weight: 700; }

.about-us__box {
  padding: 20px; }

.about-us__img {
  width: 100%;
  height: 250px; }

.about-us__caption {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-weight: 400;
  padding: 1rem 0; }
  @supports (-webkit-background-clip: text) {
    .about-us__caption {
      background-image: linear-gradient(to right, #2dc3d4, #6482e1);
      -webkit-background-clip: text;
      -ms-background-clip: text;
      color: transparent; } }

.btn:link, .btn:visited {
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all .2s ease-in-out;
  border: none;
  cursor: pointer; }

.btn--blue {
  background-color: #6482e1;
  color: #fff; }
  .btn--blue:hover {
    background-color: #fff;
    color: #6482e1; }

.countdown-timer {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10rem 0 5rem 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .countdown-timer .countdown {
    display: block;
    margin-top: 30px;
    animation: floating 3s ease-in-out infinite; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.4);
  text-align: center;
  padding: 3rem;
  transition: transform .3s ease-in-out; }
  .feature-box:hover {
    transform: translateY(-10px); }
  .feature-box__heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0; }

.menu-bar {
  position: fixed;
  top: 5rem;
  right: 4rem;
  width: 70px;
  margin: 0 auto;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .menu-bar {
      display: block; } }
  .menu-bar .line-1, .menu-bar .line-2, .menu-bar .line-3 {
    height: 5px;
    width: 50%;
    margin-bottom: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in; }
  .menu-bar.active .line-1 {
    transform: rotate(135deg) translateY(-15px); }
  .menu-bar.active .line-2 {
    background-color: transparent; }
  .menu-bar.active .line-3 {
    transform: rotate(-135deg) translate(-3px, 12px); }

.more-features {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  .more-features__container {
    width: 70%;
    background-color: #fff;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    height: 400px;
    overflow-y: scroll; }
  .more-features__icon {
    padding: 40px 0;
    text-align: center; }
  .more-features__description {
    padding: 40px 0; }
  .more-features .row {
    width: 100%; }

.perks {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  .perks__container {
    width: 70%;
    background-color: #fff;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 5px; }
  .perks ul {
    padding: 1rem; }
    .perks ul li {
      padding: 1rem;
      font-weight: 700;
      font-size: 1.5rem; }

.footer {
  margin-top: 5rem;
  padding: 0 5rem; }
  .footer__band {
    height: 60px;
    background-image: linear-gradient(105deg, #2dc3d4, #6482e1);
    margin-bottom: 40px; }
  .footer__text {
    font-size: 5rem;
    background-image: linear-gradient(105deg, #2dc3d4, #6482e1);
    -webkit-background-clip: text;
    color: transparent; }
  .footer__paragraph {
    margin-bottom: none; }
  .footer__link {
    color: #999;
    font-size: 2rem; }
  .footer__follow-us {
    margin-top: 10px; }
    .footer__follow-us h4 {
      font-size: 20px; }
    .footer__follow-us ul {
      list-style-type: none; }
      .footer__follow-us ul li {
        display: inline-block; }
        .footer__follow-us ul li a:link, .footer__follow-us ul li a:visited {
          padding: 10px;
          text-align: center;
          border: 1px solid #000;
          display: block;
          text-decoration: none;
          font-size: 15px;
          width: 50px;
          font-weight: 700;
          border-radius: 50%; }
    .footer__follow-us__FB:hover {
      background-color: #3B5998;
      color: #EDF0F5; }
    .footer__follow-us__TW:hover {
      background-color: #1DA1F2;
      color: #fff; }
    .footer__follow-us__IG:hover {
      background: linear-gradient(120deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
      color: #fff; }
  .footer__row {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
    content: "";
    display: table;
    clear: both; }
    .footer__row [class^="col-"] {
      float: left; }
      .footer__row [class^="col-"]:not(:last-child) {
        margin-right: 4rem; }
  .footer .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 30px; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 80vh;
  background-image: linear-gradient(to bottom, #2dc3d4, #6482e1);
  position: relative;
  border-bottom-right-radius: 150px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 75vh; } }
  @media only screen and (max-width: 25em) {
    .header {
      height: 70vh;
      border-bottom-right-radius: 0px; } }
  .header__row {
    position: fixed;
    background: linear-gradient(to bottom, #2dc3d4, transparent);
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 3rem 4rem;
    z-index: 30;
    content: "";
    display: table;
    clear: both; }
    .header__row [class^="col-"] {
      float: left; }
      .header__row [class^="col-"]:not(:last-child) {
        margin-right: 8rem; }
  .header .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
    @media only screen and (max-width: 56.25em) {
      .header .col-1-of-4 {
        width: 250px;
        margin-right: none; } }
  .header .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem); }
  .header__logo-box {
    height: inherit;
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase; }
  .header__logo {
    vertical-align: middle; }
  .header__nav {
    font-size: 2rem;
    font-weight: 700; }
    @media only screen and (max-width: 56.25em) {
      .header__nav {
        display: none; } }
    @media only screen and (max-width: 112.5em) {
      .header__nav {
        font-size: 3rem; } }
    .header__nav ul {
      list-style-type: none; }
      .header__nav ul li {
        display: inline-block;
        width: 32%;
        text-align: center; }
        .header__nav ul li a {
          display: block;
          transition: all .3s ease-in; }
          .header__nav ul li a:link, .header__nav ul li a:visited {
            color: #fff;
            text-decoration: none; }
          .header__nav ul li a:hover {
            transform: scale(1.2);
            border-radius: 5px;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .header__join-us {
      display: none; } }
  .header__join-us-btn:link, .header__join-us-btn:visited {
    width: 80%;
    display: block;
    background-color: #6482e1;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all .4s ease-out; }
    @media only screen and (min-width: 112.5em) {
      .header__join-us-btn:link, .header__join-us-btn:visited {
        font-size: 2rem; } }
  .header__join-us-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2); }
  .header__join-us-btn:active {
    transform: translateY(0);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .header__text-box {
    text-align: center;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.header-mobile-nav {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  display: none; }
  .header-mobile-nav li {
    border-bottom: 2px solid #6482e1; }
    .header-mobile-nav li a:link, .header-mobile-nav li a:visited {
      padding: 10px;
      display: block;
      text-decoration: none;
      width: 100%;
      color: #777;
      font-size: 2.5rem; }
    .header-mobile-nav li a:hover {
      background: linear-gradient(to right, #2dc3d4, #6482e1);
      color: #fff; }

.in-view {
  display: block;
  animation: drop .5s ease-in; }

.section-launchtime {
  margin-top: -150px;
  padding: 300px 0 25rem;
  background-color: #8AA5FF; }
  .section-launchtime__info {
    width: 65%;
    margin: 0 auto; }
  .section-launchtime__cartoon {
    height: 400px; }
  .section-launchtime__pep {
    background-color: #fff;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .section-launchtime__image {
    width: 100%;
    height: 100%; }

.section-features {
  margin-top: -140px;
  background-color: #f7f7f7;
  transform: skewY(-7deg);
  padding: 12rem 0 15rem; }
  .section-features__heading {
    display: block;
    width: 65%;
    margin: 0 auto 80px auto; }
  .section-features > * {
    transform: skewY(7deg); }

.section-join-us {
  padding: 100px 50px; }

.section-about-us {
  padding: 8rem 0;
  background-color: #f7f7f7; }
  @media only screen and (min-width: 112.5em) {
    .section-about-us .row {
      width: 90rem; } }

.section-contact {
  padding: 6rem 3rem; }
  .section-contact__container {
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 112.5em) {
      .section-contact__container {
        width: 1200px; } }
    @media only screen and (max-width: 112.5em) {
      .section-contact__container {
        width: 1150px; } }
    @media only screen and (max-width: 75em) {
      .section-contact__container {
        width: 100%; } }
    .section-contact__container .row {
      width: 100%;
      margin: 0px; }
      .section-contact__container .row .col-1-of-2:not(:last-child) {
        width: 40%;
        margin-right: 10%; }
      @media only screen and (max-width: 37.5em) {
        .section-contact__container .row .col-1-of-2 {
          width: 100% !important;
          text-align: center; } }
      @media only screen and (max-width: 56.25em) {
        .section-contact__container .row .col-1-of-2 {
          width: calc((100% - 6rem) / 2);
          margin-bottom: 0; } }
  .section-contact__heading {
    background-color: #324994;
    height: 185px;
    font-size: 3rem;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%); }
    @media only screen and (max-width: 37.5em) {
      .section-contact__heading {
        clip-path: none;
        height: 100px; } }
    .section-contact__heading h1 {
      padding: 40px 0 0 50px; }
      @media only screen and (max-width: 112.5em) {
        .section-contact__heading h1 {
          padding: 50px 0 0 50px; } }
      @media only screen and (max-width: 56.25em) {
        .section-contact__heading h1 {
          padding: 60px 0 0 20px;
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .section-contact__heading h1 {
          font-size: 4rem;
          padding: 30px; } }
  .section-contact__numbers {
    height: 185px;
    text-align: center; }
    .section-contact__numbers ul {
      list-style-type: none;
      padding: 35px 0 30px; }
      @media only screen and (max-width: 56.25em) {
        .section-contact__numbers ul {
          padding: 55px 0 50px; } }
      @media only screen and (max-width: 37.5em) {
        .section-contact__numbers ul {
          padding: 30px;
          text-align: center; } }
      .section-contact__numbers ul li {
        font-weight: 900;
        font-size: 25px;
        letter-spacing: 3px; }
        @media only screen and (max-width: 56.25em) {
          .section-contact__numbers ul li {
            font-size: 15px; } }
        @media only screen and (max-width: 37.5em) {
          .section-contact__numbers ul li {
            font-size: 23px; } }
