.footer{
    margin-top: 5rem;
    padding: 0 5rem;

    &__band{
        height: 60px;
        background-image: linear-gradient(105deg, $color-primary-1, $color-primary-2);
        margin-bottom: 25px;
    }

    &__text{
        font-size: 5rem;
        background-image: linear-gradient(105deg, $color-primary-1, $color-primary-2);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__paragraph{
        margin-bottom: none;
    }

    &__link{
        color: $color-grey-dark-2;
        font-size: 2rem;
    }

    &__follow-us{
        margin-top: 10px;

        h4{
            font-size: 20px;
        }

        ul{
            list-style-type: none;
            li{
                display: inline-block;
                a:link, a:visited{
                    padding: 10px;
                    text-align: center;
                    border: 1px solid $color-black;
                    display: block;
                    text-decoration: none;
                    font-size: 15px;
                    width: 50px;
                    font-weight: 700;
                    border-radius: 50%;
                }

            }
        }

        &__FB:hover{
            background-color: $facebook-primary;
            color: #EDF0F5;
        }

        &__TW:hover{
            background-color: $twitter-primary;
            color: $color-white;
        }

        &__IG:hover{
           background: linear-gradient(120deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
           color: $color-white;
        }
    }

    &__row{
        width: 90%;
        margin: 0 auto;
        padding: 3rem 0;

        @include clearfix;

        [class^="col-"] {
            float: left;

            &:not(:last-child){
                margin-right: $gutter-footer-horizontal;
            }

            &:last-child{
                padding-top: 15px; 
            }
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }
}