.menu-bar{
    position: fixed;
    top: 5rem;
    right: 4rem;
    width: 70px;
    margin: 0 auto;
    display: none;

    @include respond(tab-port){
        display: block;
    }

    & .line-1, & .line-2, & .line-3{
        height: 5px;
        width: 50%;
        margin-bottom: 5px;
        background-color: $color-white;
        transition: all 0.3s ease-in;
    }

    &.active .line-1{
        transform: rotate(135deg) translateY(-15px);
    }

    &.active .line-2{
        background-color: transparent;
    }

    &.active .line-3{
        transform: rotate(-135deg) translate(-3px, 12px);
    }
}