@keyframes floating {
    0%{
        transform: translate(0px, 0px);
        text-shadow: 0 0.2rem 0.5rem rgba($color-black, .15)
    }
    50%{
        transform: translate(0px, -15px);
        text-shadow: 0 1rem 1rem rgba($color-black, .2);
    }
    100%{
        transform: translate(0px, 0px);
        text-shadow: 0 0.5rem 0.5rem rgba($color-black, .2);
    }
}

