body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark-1;
}

.header-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 15px;
    word-spacing: 5px;

    @include respond(med-desktop){
      font-size: 10rem;
    }

    @include respond(big-desktop){
      font-size: 8rem;
    }

    @include respond(tab-port){
      font-size: 7.5rem;
    }

    @include respond(med-phone){
      font-size: 3.5rem;
    }

    @include respond(small-phone){
      font-size: 3rem;
      letter-spacing: 10px;
    }

    .strike-symbol {
      vertical-align: middle;
      padding: 0 1rem 0 0;

      @include respond(med-phone){
        width: 35px;
        height: 60px;
      }

      @include respond(small-phone){
        width: 25px;
        height: 40px;
      }
    }
  }

  &--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.heading-secondary {
  &--1 {
    color: $color-white;
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 2rem;
    border-bottom: 0.5px solid $color-white;

    @include respond(med-phone){
      font-size: 3.5rem;
    }
  }

  &--2 {
    font-weight: 700;
    font-size: 3.5rem;
    color: $color-grey-dark-1;
  }
}

.heading-tertiary {
  font-size: 6rem;
  display: inline-block;
  font-weight: 400;
  color: $color-primary-3;

  @include respond(med-phone){
    font-size: 4.2rem;
  }

  @supports (-webkit-background-clip: text) {
    background-image: linear-gradient(
      to right,
      $color-primary-1,
      $color-primary-2
    );
    -webkit-background-clip: text;
    -ms-background-clip: text;
    color: transparent;
  }
}

.paragraph {
  font-size: 1.8rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.small-text {
  display: block;
  font-size: 20px;
  color: $color-tertiary-1;
  margin-bottom: -20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include respond(med-phone){
    font-size: 2.5rem;
    letter-spacing: 3px;
  }

  @include respond(small-phone){
    margin-bottom: -15px;
  }
}

i {
  background-image: linear-gradient(
    to right,
    $color-primary-1,
    $color-primary-2
  );
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 15px;
}

