.section-launchtime {
  margin-top: -150px;
  padding: 300px 0 25rem;
  background-color: $color-primary-4;

  &__info {
    width: 65%;
    margin: 0 auto;
  }

  &__cartoon {
    height: 400px;

    @include respond(med-phone){
      max-width: 100%;
      height: auto;
    }
  }

  &__pep {
    background-color: $color-white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    @include respond(tab-port){
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

.section-features {
  margin-top: -140px;
  background-color: $color-grey-light-1;
  transform: skewY(-7deg);
  padding: 12rem 0 15rem;

  &__heading {
    display: block;
    width: 65%;
    margin: 0 auto 80px auto;
  }

  & > * {
    transform: skewY(7deg);
  }
}

.section-join-us{
  padding: 100px 50px;
}

.section-about-us{
  padding: 8rem 0;
  background-color: $color-grey-light-1;

  & .row{
    @include respond(big-desktop){
      width: 90rem; 
    }
  }
}

.section-contact {
  padding: 6rem 3rem;

  &__container {
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);

    @include respond(big-desktop){
      width: 1200px;
    }

    @include respond(med-desktop){
      width: 1150px;
    }

    @include respond(tab-land){
      width: 100%;
    }

    .row {
      width: 100%;
      margin: 0px;

      .col-1-of-2:not(:last-child){
        width: 40%;
        margin-right: 10%;
      }

      .col-1-of-2{
        @include respond(med-phone){
          width: 100% !important;
          text-align: center;
        }

        @include respond(tab-port){
          width: calc((100% - #{$gutter-horizontal}) / 2);
          margin-bottom: 0;
        }
      }
    }
  }

  &__heading {
    background-color: $color-primary-3;
    height: 185px;
    font-size: 3rem;
    color: $color-white;
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%);


    @include respond(med-phone){
      clip-path: none;
      height: 100px
    }

    h1{
      padding: 40px 0 0 50px;

      @include respond(med-desktop){
        padding: 50px 0 0 50px;
      }

      @include respond(tab-port){
        padding: 60px 0 0 20px;
        font-size: 4rem;
      }

      @include respond(med-phone){
        font-size: 4rem;
        padding: 30px;
      }
    }
  }

  &__numbers {
      height: 185px;
      text-align: center;



    ul {
      list-style-type: none;
      padding: 35px 0 30px;

      @include respond(tab-port){
        padding: 55px 0 50px;
      }

      @include respond(med-phone){
        padding: 30px;
        text-align: center;
      }

      @include respond(small-phone){
        padding: 45px 25px;
      }

      li {
        font-weight: 900;
        font-size: 25px;
        letter-spacing: 3px;

        @include respond(tab-port){
          font-size: 15px;
        }

        @include respond(med-phone){
          font-size: 23px;
        }

        @include respond(small-phone){
          font-size: 15px;
        }
      }
    }
  }
}